@import "src/styles/index";

.modal_dialog {
  width: 300px;
  height: 200px;
  background-color: $secondary-color;
  color: $primary-color;
  position: absolute;
  top: 20%;
  left: 37%;
  padding: 20px;
  border-radius: 0.5em;
  border: 1px $primary-color solid;
}

.modal_content {

  height: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal_footer {

  .button {
    display: initial;
    width: 120px;
  }
}