@import "src/styles/index";

.container {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin-bottom: 10px;
}
.label {
  font-size: 1.2rem;
  flex: 1;
}

.input {
  flex: 1;
}

.error {
  color: red;
}
