@import "src/styles/index";


.dropdown {
  width: 200px;
  height: 80px;
  position: absolute;
  top: 5%;
  right: 2%;
  margin-top: 10px;
  border-radius: 5px;
  padding: 5px;
  background-color: $secondary-color;
  color: $primary-color;
  border: 1px lightgray solid;
  text-align: center;
  
  .logout_btn {
    width: 100px;
    position: absolute;
    right: 25%;
    margin-top: 10px;
  }
}